<div class="content">
  <p class="header">About Us</p>
  <div class="box">
    <p class="desc">
      Wearhouse is a fast fashion brand that was formed in 2019. WearHouse aims
      to provide affordable, high quality, trendy, and easy-to-access fashion
      appeals. To fullfil our goals, we have opened more than 100 stores in
      various cities across Indonesia. We have a commitment to make each of our
      product available in every store, with equal price tags and build
      qualities regradless of location
    </p>
    <div class="contact">
      <p class="contact-us">Contact Us</p>
      <p class="phone">Phone: (021) 12345</p>
      <p class="email">Email: {{ email }}</p>
    </div>
  </div>
</div>
