<nav class="navbar">
  <div class="left-navbar">
    <a
      class="wearhouse"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >WearHouse</a
    >
    <a
      class="about-us"
      routerLink="/aboutUs"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >About Us</a
    >
  </div>
  <div class="right-navbar">
    <a
      class="login"
      routerLink="/login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Login</a
    >
    <a
      class="register"
      routerLink="/register"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Register</a
    >
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
